<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benvenuto</title>
    <link rel="stylesheet" href="static/style.css">
        <div class="topnav">
          <a href="http://localhost:5001/" class="active">Benvenuto</a>
          <a href="http://localhost:5001/hashtag">Hashtag Popolari</a>
          <a href="http://localhost:5001/mention">Utenti Popolari</a>
          <a href="http://localhost:5001/word">Conteggio Parole</a>
          <a href="http://localhost:5001/lang">Lingue Popolari</a>
        </div>
</head>
<body>
    <h1>Benvenuto</h1>
</body>
</html>