<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Benvenuto</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/landing.css">
</head>
<body>
    <div class="topnav">
        <a href="http://localhost:5001/" class="active">Benvenuto</a>
        <a href="http://localhost:5001/hashtag">Hashtag Popolari</a>
        <a href="http://localhost:5001/mention">Utenti Popolari</a>
        <a href="http://localhost:5001/word">Conteggio Parole</a>
        <a href="http://localhost:5001/lang">Lingue Popolari</a>
    </div>
    <img class="bg" src="static/twitter.jpg" alt="">

    <div class="relative">
        <center>
        <h1>Benvenuto!</h1>
        </br>
        <h2>Questa è la homepage del progetto per l'esame di big data (AA.2022/23)<br>
        realizzato dagli studenti Davide Musitano & Bruno Guzzo</h2>
        </br>
        <h2>Dal menù in alto è possibile esplorare tutte le interrogazioni effettuate</h2>
        </center>
    </div>
</body>
</html>